<div class="algebra_based_physics jumbotron">
  <h2 class="display-4">Algebra-Based Physics</h2>
  <p class="lead">Traditional physics course, covering mechanics, gravitation, thermodynamics, and electromagnetism. Applications to engineering and technology are discussed, and some historical context is introduced. There is a dual emphasis on algebraic problem-solving and building strong physics intuition. Lectures are illustrated.</p>
  <hr class="my-4">
  <p><strong>Prerequisites:</strong> Algebra, essential trigonometry (sines, cosines, tangents)</p>
  <a class="btn btn-success btn-lg" href="#" role="button">Course Website</a>
</div>