<div class="algebra_based_physics jumbotron">
  <h2 class="display-4">Calculus-Based Physics</h2>
  <p class="lead">College physics course, covering mechanics, electromagnetism, and modern physics. The primary aim of this course is to develop a strong intuition for calculus. Time permitting, basic programming in Python will be introduced.</p>
  <hr class="my-4">
  <p><strong>Prerequisites:</strong> Algebra 2, Trigonometry. Must be enrolled in calculus or higher.</p>
  <a class="btn btn-success btn-lg" href="#" role="button">Course Website</a>
</div>