<div class="calculus jumbotron">
  <h2 class="display-4">Calculus</h2>
  <p class="lead">Introductory course in differential and integral calculus. Applications from the natural and social sciences are studied extensively. Time permitting, differential equations are introduced.</p>
  <hr class="my-4">
  <p><strong>Prerequisites:</strong> Algebra 2, Trigonometry</p>
  <a class="btn btn-success btn-lg" href="#" role="button">Course Website</a>
</div>