<div class="computer_science jumbotron">
  <h2 class="display-4">Computer Science</h2>
  <p class="lead">Introductory computer science course, using the Processing visualization library. The first semester is taught primarily in Python; the second, in Javascript. Time permitting, robotic programming in Arduino will be introduced.</p>
  <hr class="my-4">
  <p><strong>Prerequisites:</strong> Algebra. Trigonometry is <strong>strongly</strong> recommended.</p>
  <a class="btn btn-success btn-lg" href="#" role="button">Course Website</a>
</div>