<div class="conceptual_physics jumbotron">
  <h2 class="display-4">Conceptual Physics</h2>
  <p class="lead">Introductory physics course, covering basic ideas from physics (mass, heat, etc.) and their applications in engineering and technology. There is a strong visual emphasis in both the instruction and coursework. While the course aims for conceptual understanding, it is <strong>not</strong> math-free.</p>
  <hr class="my-4">
  <p><strong>Prerequisites:</strong> Basic arithmetic, up to fractions and exponents. Algebra is strongly recommended. An introductory math unit precedes physics instruction.</p>
  <a class="btn btn-success btn-lg" href="#" role="button">Course Website</a>
</div>