<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>
    <script type="text/javascript">
      
      
function setup(){
  let myCanvas = createCanvas(1320,700);
  myCanvas.parent('myContainer');
  background(0);
  let t1 = new Tree(window.innerWidth/2,window.innerHeight+100,90,64);
  t1.display();
}

function draw() {
}

class Tree {

  constructor(xi, yi, angle, thickness){
    this.x = xi;
    this.y = yi;
    this.theta = angle;
    this.thick = thickness;
  }
  
  display(){
    let diminisher = 0.925;
    let threshold = pow(2,floor(log(this.thick)/log(2)));
    while (this.thick > 1){ 
        if (random(0,threshold) > this.thick){
        let num = branch_number(this.thick);
        let a_and_t = angles_and_thicknesses(num,this.theta,this.thick);
        for (let i = 0; i < num; i++){
          let t = new Tree(this.x,this.y,a_and_t[2*i],a_and_t[2*i+1]);
          t.display();
        }  
        break;
      }
      this.theta = angle_prob(this.theta);
      this.x += cos(angle_convert(this.theta));
      this.y += sin(angle_convert(this.theta));
      if (random(0,100) > 95){
        this.thick *= diminisher;
      }
      noStroke();
      fill(210,180,140);
      ellipse(this.x-1,this.y,this.thick,this.thick);
      fill(255,235,205);
      ellipse(this.x,this.y,this.thick,this.thick); 
    }
    if (this.thick <= 1){
    let number_of_blossoms = random(3,10);
    for (let i = 0; i < number_of_blossoms; i++){
      let dx = random(-25,25);
      let dy = random(-25,25);
      noFill();
      stroke(130,130,30);
      bezier(this.x,this.y,this.x+10*cos(angle_convert(this.theta)),this.y+10*sin(angle_convert(this.theta)),this.x+dx+15*cos(angle_convert(this.theta)),this.y+dy+35*sin(angle_convert(this.theta)),this.x+dx+25*cos(angle_convert(this.theta)),this.y+dy+25*sin(angle_convert(this.theta)));
      let f = new Flower(this.x+dx+25*cos(angle_convert(this.theta)),this.y+dy+25*sin(angle_convert(this.theta)));
      f.display();
    }
  }
}
}

class Flower{
  
  constructor(xi, yi){
    this.num_petals = floor(random(5,7));
    this.x = xi; this.y = yi;
  }
  
  display(){
    push();
    noStroke();
    fill(255,255,255);
    let s = random(0.3,0.7);
    translate(this.x,this.y);
    scale(s);
    for (let i = 0; i < this.num_petals; i++){
      ellipse(7.5*cos(2*i/this.num_petals*PI),7.5*sin(2*i/this.num_petals*PI),10,10);
    }
    fill(200,20,100);
    ellipse(0,0,10,10);
    pop();
}
}

function branch_number(thickness){
  let det = random(0,thickness);
  let b = 7; let m = 64; let k = 2;
  return b - floor(log(m-det)/log(k));
}

function angle_prob(init_angle){
  let t = 1/45; let dt = t*(90-init_angle); let m = 2;
  return init_angle + random(-m+dt,m+dt)*random(-m,m);
}

function branch_thickness(num, angles, init_angle, init_thick){
  let fraction = [];
  let sumThick = 0; let half_angle = 45;
  for (let i = 0; i < num; i++){
    fraction[i] = half_angle/(half_angle+abs(90-angles[i])) + half_angle/(half_angle+abs(init_angle-angles[i]));
    sumThick += fraction[i];
  }
  let thick = [];
  for (let j = 0; j < num; j++){
    thick[j] = init_thick*sqrt(fraction[j]/sumThick);
  }
  return thick;
}

function angles_and_thicknesses(num, init_angle, init_thick){
  let theta = [];
  let results = [];
  let space_angle = 30;
  for (let i = 0; i < num; i++){
    theta[i] = angle_prob(init_angle + ((num-1)/2 - i) * space_angle);
  }
  let thick = branch_thickness(num,theta,init_angle,init_thick); 
  for (let j = 0; j < num; j++){
    results[2*j] = theta[j];
    results[2*j+1] = thick[j];
  }
  return results;
}

function angle_convert(angle){
  return -1*(PI/180)*angle;
}

      
    </script>
  </head>
  <body>
    <div id="myContainer" width="1200" height="900"></div>
  </body>
</html>
