<div class="bio jumbotron">
  <%= image_tag("scwoolf.jpg", width: 225, height: 300, class: "inline_block") %>
  <div class="inline_block bio_text">
  <p>I'm a STEM educator in Fresno, California.</p>
  <p>I primarily teach physical science, mathematics, and computer science, but my range of interests is very broad, and I enjoy helping students in any subject.</p>
  <p>My instruction is very visual, and I illustrate all of my lectures.</p>
  
  </div>
</div>