<div class="standards jumbotron">
  <h2 class="display-4">Common Core: Mathematical Practice Standards</h2>
  <li>Making sense of problems and persevere in solving them</li>
  <li>Reason abstractly and quantitatively</li>
  <li>Construct viable arguments and critique the reasoning of others</li>
  <li>Model with mathematics</li>
  <li>Use appropriate tools strategically</li>
  <li>Attend to precision</li>
  <li>Look for and makue use of structure</li>
  <li>Look for and express regularity in repeated reasoning</li>
  <hr class="my-4">
  <h2 class="display-4">Next Generation Science Standards: Science & Engineering Practices</h2>
  <li>Asking questions and defining problems</li>
  <li>Developing and using models</li>
  <li>Planning and carrying out investigations</li>
  <li>Analyzing and interpreting data</li>
  <li>Using mathematics and computational thinking</li>
  <li>Constructing explanations and designing solutions</li>
  <li>Engaging in argument from evidence</li>
  <li>Obtaining, evaluating, and communicating information</li>
  <hr class="my-4">
  <h2 class="display-4">California Computer Science Standards: Core Practices (Pending)</h2>
  <li>Fostering an inclusive computing culture</li>
  <li>Collaborating around computing</li>
  <li>Recognizing and defining computational problems</li>
  <li>Developing and using abstractions</li>
  <li>Creating computational artifacts</li>
  <li>Testing and refining computational artifacts</li>
  <li>Communicating about computing</li>
</div>
