@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color: black;
}

footer {
    padding-right: 15px;
}

.inline_block {
  display: inline-block;
}

.jumbotron {
  
  top: 50%;
  left: 50%;
  padding: 30px;
  border-radius: 25px;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color: rgb(255,255,255);
  background-color: rgb(0,0,0);
  
}

.conceptual_physics {
  top: 60%;
  width: 800px;
  height: 600px;
  position: fixed;
}

.algebra_based_physics {
  top: 60%;
  width: 800px;
  height: 600px;
  position: fixed;
}

.calculus_based_physics {
  top: 60%;
  width: 800px;
  height: 600px;
  position: fixed;
}

.calculus {
  top: 60%;
  width: 800px;
  height: 600px;
  position: fixed;
}

.computer_science {
  top: 60%;
  width: 800px;
  height: 600px;
  position: fixed;
}

.bio {
  top: 50%;
  width: 800px;
  height: 400px;
  position: fixed;
}

.bio_text {
  width: 480px;
  height: 300px;
  margin-left: 20px;
  vertical-align: middle;
}

li {
  font-size:medium;
}

.standards {
  top: 100%;
  width: 800px;
  height: 1000px;
  position: absolute;
}
