<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="https://bitbucket.org/scwoolf/scwoolf/src/master/">Source</a></li>
  </ul>
</footer>