<header class="navbar navbar-fixed-top navbar-inverse">
  
  <div class="container-fluid">
    
    <div class="navbar-header">
      <%= link_to "Stuart Coulter Woolf", root_url, class: "navbar-brand" %>
    </div>
  
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              About <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Standards", about_standards_path %></li>
               <li class="divider"></li>
              <li><%= link_to "About Me", about_bio_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Courses <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Conceptual Physics", course_conceptual_physics_path %></li>
              <li><%= link_to "Algebra-based Physics", course_algebra_based_physics_path %></li>
               <li><%= link_to "Calculus-based Physics", course_calculus_based_physics_path %></li>
               <li class="divider"></li>
              <li><%= link_to "Calculus", course_calculus_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Computer Science", course_computer_science_path %></li>
            </ul>
          </li>
  <li><a href="mailto:coulter.woolf@gmail.com?Subject=Woolf">Contact</a></li>
    </ul>
  
  </div>
  
</header>